/*.container {
         border: solid; 
}*/

/*Nav bar css starts here*/
#page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: #f6f6f6;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2em;
}

#btn {
  position: fixed;
  z-index: 5;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #00DFFC;
  -webkit-transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn.active {
  right: 230px;
}
#btn.active div {
  background-color: #343838;
}
#btn.active #top {
  -webkit-transform: translateY(10px) rotate(-135deg);
          transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#btn.active #bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: #f6f6f6;
  color: #343838;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
  right: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#items .item {
  position: relative;
  cursor: pointer;
  font-size: 2em;
  padding: 15px 30px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
#items .item:hover {
  padding: 15px 45px;
  background-color: rgba(52, 56, 56, 0.2);
}

#btn, #btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}
/*Nav bar css ends here*/



header.masthead.bg-photo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(http://lorempixel.com/1200/800/nature)center center no-repeat;
    background-size: cover;
    display: none;
    height: 500px;
}
.container {
    height: 75vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}
.carousel {
    width: 100%;
}
.card {
    position: relative;
    background: #fff;
    display: block;
    color: #212121;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
    min-height: 100px;
}
.card-container {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.card .card-content:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.card .card-content {
    padding: 32px 40px;
}
main {
    margin-top: -100px;
}

.map-banner{
    height: 500px;
    margin-bottom: -50px;
}

.bg-dark-grey {
    background-color: #455A64;
    color: #E5E8E9;
}

.pics-section{
    display: flex;
    flex-direction: row;
        min-height: 745px;
        margin-bottom: -50px;
            margin-top: -134px;
}
.photo-about{
    flex: 2;
    position: relative;
}
.photo-about-vertical{
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.photo-about-left-img, .photo-about-top-img, .photo-about-bottom-img{
        background-color: rgb(0, 188, 212);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(http://www.loybuckz.com/wp-content/uploads/2015/08/Concert-69.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.photo-about-top-img, .photo-about-bottom-img{
    background-image: url(https://12thstreetbeat.files.wordpress.com/2015/02/2641129-rolling-stones-617-409.jpg);
}
.photo-about-bottom-img{
    background-image: url(http://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=6f59a21ba10ab806226120625aa249b7);
}
.photo-about-top, .photo-about-bottom{
    position: relative;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.sidebyside{
    flex-direction: row;
        display: flex;
}

.flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}


.card .card__photo--recap {
    background-position: 50% 0 !important;
    cursor: pointer;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    min-height: 200px;
    background-image: url(http://www.loybuckz.com/wp-content/uploads/2015/08/Concert-69.jpg);
        background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.play__button--card {
    height: 56px;
    width: 56px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 88px;
    margin: auto;
    cursor: pointer;
}
.anchor-like {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.01em;
    white-space: nowrap;
    color: #008094;
    cursor: pointer;
}

.card h2, .card h3 {
    color: #5c5c5c;
}

.link-spacing {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


@media (min-width: 1137px){
    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
    }    
}

h3 {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding: 0;
}


.card a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.01em;
    white-space: nowrap;
}
a {
    color: #008094;
    font-weight: 500;
    text-decoration: none;
}
.carousel-caption, .carousel-indicators li{
  display: none;
}


@media (min-width: 768px){
    .sidebyside>:not(:last-child) {
        margin-right: 32px;
    }
    .card .card-content:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    .card .card-content {
        padding: 32px;
    }

}

@media (max-width: 768px){
      .sidebyside {
      display: block;
    }
    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    height: 75vh;
}
}





@media (min-width: 945px){
    .card .card-content {
        padding: 32px 40px;
    }    
}


